* {
  box-sizing: border-box;
}

:root {
  --color-primary: #ff5a3c;
  --color-soft-primary: #f5dfdc;

  --black-1: #071c1f;
  --black-2: #233638;
  --black-3: #071c1f;
  --black-4: #242424;
  --black-5: #171b2a;

  --gray-1: #c4c4c4;
  --gray-2: #9eabb2;
  --gray-3: #899aa2;

  --blue-1: #f2f6f7;
  --blue-2: #a6b2d3;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Nunito", sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0rem;
}

a {
  text-decoration: none;
}

/* header */

.top-bar {
  background-color: var(--black-3);
  height: 4.8rem;
}

.top-bar .container {
  height: 100%;
  width: 100%;
  padding: 0 13.3% 0 12.6%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-bar .container .contact-info {
  display: flex;
  gap: 3.8rem;

  color: #fff;
}

.top-bar .container .contact-info .mail-info,
.top-bar .container .contact-info .address-info {
  height: 100%;
  display: flex;
  gap: 0.74rem;

  justify-content: center;
  align-items: center;

  font-family: "Poppins", sans-serif;
  font-size: 1.4rem;
}

.top-bar .container .contact-info .address-info {
  gap: 0.4rem;
}

.top-bar .container .contact-info i {
  color: var(--color-primary);
  font-size: 18px;
}

.top-bar .container .contact-info a {
  color: white;
}

.top-bar .container .social-links {
  display: flex;
  gap: 1.5rem;
}

.top-bar .container .social-links a {
  color: white;
  text-decoration: none;
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.top-bar .container .social-links a:hover {
  color: var(--color-primary);
}

/* header {
  background-color: white;
  height: 5.4rem;
} */

.header-container {
  margin: 1.2rem 0;
  padding: 0 12.5% 0 11%;
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 100%;
}

.logo img {
  object-fit: contain;
}

.right-header nav ul {
  display: flex;
  list-style: none;
  gap: 4.5rem;
  height: 100%;
  padding: 1.2rem 0;
  align-items: end;
}

.right-header nav a {
  color: var(--black-2);
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
}

.right-header {
  display: flex;
  align-tems: center;
  gap: 4.789rem;
}

nav a:hover,
nav a.active {
  color: var(--color-primary);
}

nav a.active {
  text-underline-offset: 8px;
  text-decoration: underline var(--color-primary);
}

.auth-buttons {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.btn {
  padding: 1.8rem 2.8rem;
  border-radius: 1rem;
  text-decoration: none;
  font-weight: 600;
  font-size: 1.8rem;
  color: var(--black-2);
  font-family: "Poppins", sans-serif;
  border: none;
  cursor: pointer;
  display: inline-flex;
  gap: 0.8rem;
  align-items: center;
  width: fit-content;
}

.btn-primary {
  background-color: var(--color-primary);
  border: 2px solid var(--color-primary);
  color: white;
}

.btn-primary:hover {
  background-color: var(--color-soft-primary);
  border: 2px solid var(--color-primary);
  color: var(--color-primary);
}

.btn-secondary {
  border: 2px solid #fff;
}

.btn-secondary:hover {
  background-color: #f8f9fa;
  border: 2px solid var(--color-primary);
  color: var(--color-primary);
}

/* banner */
.banner-container {
  width: 100%;
  height: 78vh;
  background-color: var(--blue-1);
  padding: 0 7%;
  margin-top: 3.3rem;
}

.main-banner {
  width: 100%;
  height: 65.52vh;
  display: flex;
  gap: 0;
}

.banner-content {
  width: 42%;
  height: 100%;
  display: flex;
}

.text-banner {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 3rem;
}

.text-banner h1 {
  font-family: "Poppins", sans-serif;
  font-size: 6.4rem;
  font-weight: 700;
  line-height: 7.4rem;
  letter-spacing: -1.5%;
}

.hero-text {
  position: relative;
}

.find-vector {
  width: 10vw;
  position: absolute;
  top: 35%;
  right: 0%;
}

.text-banner p {
  font-family: "Nunito", sans-serif;
  font-size: 1.8rem;
  line-height: 2.8rem;
  letter-spacing: -1%;
  color: var(--gray-2);
}

.text-banner a {
  font-size: 1.6rem;
}

.video-banner {
  width: 58%;
  height: 100%;
}

.video {
  width: 100%;
  height: 84%;
  background-color: var(--gray-1);
  position: relative;
}

.play-button {
  border-radius: 10px 0 0 0;
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 1.4rem;
  font-weight: 500;
  letter-spacing: -1%;
  gap: 3.3rem;
}

.play-button i {
  font-size: 3rem;
}

.revenue-box {
  position: absolute;
  bottom: -10%;
  left: -5%;

  width: 24rem;
  height: 19rem;

  border-radius: 10px;
  background-color: white;

  padding: 3rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: space-between;

  box-shadow: 10px 14px 59px 0 #00005c12;
}

.revenue-box img {
  width: 50px;
  height: 50px;
}

.revenue-box .price {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 2.6rem;
  letter-spacing: -1.5%;
  color: #071c1f;
}

.revenue-box .revenue-text {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1.6rem;
  letter-spacing: -1.5%;
  color: #9eabb2;
}

.slider-cont {
  height: 12.48vh;
  width: 40%;

  display: flex;
  align-items: center;
  gap: 1rem;
}
.slides {
  display: flex;
  align-items: end;
  gap: 0;
  scroll-snap-type: x mandatory;
}

.slide-img {
  width: 8.8rem;
  height: 6rem;
  background-color: var(--gray-1);

  padding-top: 0.4rem;
  padding-left: 0.8rem;

  color: white;
  font-weight: 500;
  font-size: 1rem;
  letter-spacing: -1%;
}

.slides .active-img {
  width: 11.4rem;
  height: 8rem;
}

.link-number {
  display: flex;
  align-items: end;
  gap: 1.3rem;
}

.link-number a {
  color: #627193;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  letter-spacing: -1%;
}

.link-number .active-link {
  font-size: 2rem;
}

.slider-dot {
  display: flex;
  align-items: end;
  gap: 0;
}

.dot {
  width: 2.3rem;
  height: 2px;
  background-color: #ebebeb;
  cursor: pointer;
}

.slider-dot .active-dot {
  background-color: var(--black-1);
  border-radius: 2px;
}

/* commerial */
.commercial-cont {
  margin: 12rem 10% 12rem 10%;
  text-align: center;
}

.commercial-cont h2,
.dream-space-content h2,
.property-left h2 {
  font-weight: 700;
  font-size: 4.6rem;
  line-height: 5.6rem;
  letter-spacing: 1.5%;
  color: #071c1f;
  text-transform: capitalize;

  /* overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical; */
}

.commercial-cont p,
.dream-space-content p,
.property-left p {
  margin-top: 1rem;
  font-size: 1.8rem;
  line-height: 3rem;
  letter-spacing: -1%;
  color: var(--gray-2);
}

.commercial-item-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.commercial-item {
  padding: 5rem;

  border-radius: 2rem;
  border: 1px solid #f5f5f5;
  box-shadow: 0px 0px 80px 0px rgba(203, 204, 188, 0.25);

  display: flex;
  flex-direction: column;
  gap: 2.5rem;

  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.commercial-item h3 {
  font-weight: 700;
  font-size: 2.6rem;
  line-height: 2.8rem;
  letter-spacing: -0.5%;
  color: var(--black-1);
}

.commercial-item p {
  font-size: 1.8rem;
  line-height: 3.2rem;
  letter-spacing: -1%;
  color: var(--gray-3);
}

.commercial-icon {
  width: 9rem;
  height: 9rem;
  background: #f5dfdc;
  border-radius: 60px 60px 70px 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 16px 45px -12px rgba(60, 80, 224, 0.05);
}

.commercial-icon i {
  font-size: 4rem;
  color: var(--color-primary);
}

.commercial-item:hover .commercial-icon i {
  color: white;
}

.commercial-item:hover {
  background-color: var(--color-primary);
}

.commercial-item:hover h3,
p {
  color: white;
}

.commercial-item:hover p {
  color: white;
}

/* dream space */

.dream-space {
  margin: 0 10% 12rem 10%;
  display: flex;
  gap: 8rem;
  height: 60vh;
}

.dream-space-content {
  width: 50%;
  height: 100%;
}

.house-img {
  width: 50%;
  height: 100%;
  position: relative;
}

.layer-img {
  width: 50%;
  height: 80%;
  background: var(--gray-1);
  position: absolute;
}

.layer-1 {
  bottom: 0;
  left: 0;
  z-index: 1;
}

.layer-2 {
  top: 6rem;
  right: 6rem;
  z-index: 2;
}

.rating-box {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 20;

  width: 12rem;
  height: 12rem;
  background: var(--black-3);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.rating-box i {
  color: var(--color-primary);
  font-size: 3.4rem;
}

.dream-space-item-list {
  margin-top: 3.3rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  justify-content: space-between;
}

.dream-space-item {
  display: flex;
  gap: 1.5rem;
  align-items: start;
}

.dream-space-item i {
  font-size: 5.1rem;
  color: var(--color-primary);
}

.dream-space-content p {
  font-size: 1.6rem;
}

.dream-space-text h3 {
  font-weight: 700;
  font-size: 2.4rem;
  letter-spacing: -1%;
  color: var(--black-1);
}

.dream-space-text p {
  margin-top: 1rem;
  font-size: 1.6rem;
  letter-spacing: -1%;
  line-height: 2.8rem;
  color: var(--gray-3);
}

/* sale property */
.property-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  margin: 0 10% 12rem 10%;
}

.property-left {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  max-width: 80%;
}

.breadcrumb {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  color: var(--black-1);
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 7.4rem;
  letter-spacing: -1.5%;
  color: var(--black-1);
}

.breadcrumb i {
  color: var(--color-primary);
  font-size: 2rem;
}

.property-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.property-list li {
  display: flex;
  align-items: center;
  gap: 1rem;

  font-weight: 600;
  font-size: 1.6rem;
  line-height: 150%;
  color: var(--gray-3);
}

.icon-property {
  width: 1.5rem;
  height: 1.1rem;
  background: var(--color-primary);
}

.property-right {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 1rem;
}

.property-right .img {
  background: #c4c4c4;
}

.property-right .big {
  grid-row: span 2;
}

.slider-dot .property-active {
  background-color: var(--color-primary);
}

.services {
  padding: 7rem 10%;
  text-align: center;
  background-color: #f2f6f7;
}

.services-header h2 {
  font-family: "Poppins", sans-serif;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: -1%;
  color: #071440;
  margin-bottom: 1rem;
}

.services-header p {
  color: #655f73;
  font-family: "Poppins", sans-serif;

  font-size: 1.6rem;
  line-height: 2.8rem;
  letter-spacing: -2%;
  margin-bottom: 6rem;
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.87rem;
}

.service-card {
  background: #fff;
  padding: 4rem 3.7rem;
  border-radius: 1.2rem;
  display: flex;
  flex-direction: column;
  gap: 3.1rem;
  align-items: center;
}

.service-card .icon {
  font-size: 4rem;
  color: var(--color-primary);
}

.service-card-text {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  align-items: center;
}

.service-card-text h3 {
  font-size: 2.6rem;
  font-weight: 600;
  letter-spacing: -1%;
  color: var(--black-1);
}

.service-card-text p {
  font-size: 1.6rem;
  line-height: 2.8rem;
  color: #8c8c8c;
}

.service-card-text a {
  font-weight: 500;

  font-family: "Poppins", sans-serif;

  font-size: 1.6rem;
  letter-spacing: -2%;
  color: var(--black-1);
  display: inline-flex;
  align-items: center;
  gap: 1.6rem;
  margin-top: 0.8rem;
}

/* fearured properties */

.featured-property {
  margin: 8rem 10%;
  font-family: sans-serif;
}

.fp-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 6rem;
}

.fp-text h2 {
  font-family: "Nunito", sans-serif;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  font-size: 4.6rem;
  line-height: 2.8rem;
}

.fp-text p {
  font-size: 1.8rem;
  line-height: 2.8rem;
  color: #8c8c8c;
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  color: #899aa2;
  margin-top: 2.3rem;
}

.fp-tabs {
  display: flex;
  gap: 8.5rem;
}

.fp-tabs a {
  font-family: "Nunito", sans-serif;
  color: #899aa2;
  font-weight: 600;
  font-size: 2.2rem;
  padding-bottom: 1rem;
}

.fp-tabs a.active {
  border-bottom: 2px solid var(--color-primary);
}

.fp-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3.3rem;
  margin-bottom: 6rem;
}

.fp-card {
  overflow: hidden;
  height: 38.6rem;
  position: relative;
  /* width: 100%; */
}

.fp-img {
  background: #c4c4c4;
  height: 100%;
}

.fp-info {
  position: absolute;
  left: 0;
  bottom: 0;

  padding-top: 1.8rem;
  padding-left: 2.2rem;
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
  align-items: start;
  background: #fff;
  width: 75%;
}

.fp-info h3 {
  font-family: "Nunito", sans-serif;
  color: #071c1f;
  font-weight: 600;
  font-size: 1.8rem;
}

.fp-info-text {
  display: inline-flex;
  align-items: center;
  font-family: "Nunito", sans-serif;

  gap: 0.8rem;

  font-size: 1.4rem;
  color: #899aa2;
  margin: 0.3rem 0 1rem;
}

.fp-info-text i {
  color: #899aa2;
  font-size: 1.4rem;
}

.fp-bottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price {
  font-family: "Nunito", sans-serif;
  color: var(--color-primary);
  font-weight: 600;
  font-size: 1.8rem;
}

.arrow-btn {
  background: #f44336;
  color: #fff;
  border: none;
  padding: 1.6rem 2.6rem;
  cursor: pointer;
}

.arrow-btn i {
  font-size: 1.6rem;
}

.fp-footer {
  text-align: center;
}

.explore-btn,
.btn-read {
  display: inline-block;
  padding: 2rem 2.4rem;
  border: 1px solid var(--color-primary);
  color: var(--color-primary);
  background: #fff;

  font-weight: 600;
  font-size: 1.6rem;
  font-family: "Nunito", sans-serif;
}

.explore-btn:hover {
  background: #f44336;
  color: #fff;
}

/* properties hightlight */

.property-highlight {
  margin: 4rem 0;
}

.ph-bg {
  background: #c4c4c4;
  height: 35vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ph-card {
  display: flex;
  align-items: center;
  background: #fff;
  border-radius: 0.8rem;
  padding: 2rem;
  box-shadow: -10px 14px 34px 0 rgba(60, 80, 224, 0.09);
  max-width: fit-content;
  gap: 2.5rem;
}

.ph-img-bg {
  width: 11rem;
  height: 11rem;
  padding: 0;
  border-radius: 1rem;
  box-shadow: 3px 8px 14px 0 rgba(43, 108, 60, 0.1);
  position: relative;
}

.ph-img-bg img {
  width: 12rem;
  height: 12rem;
  object-fit: cover;
  border-radius: 1rem;
}

.ph-icon {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-primary);
  position: absolute;
  bottom: 2rem;
  left: 2rem;
}

.ph-icon i {
  font-size: 1rem;
  color: #fff;
}

.ph-info h3 {
  font-family: "Poppins", sans-serif;
  color: #071c1f;
  font-weight: 600;
  font-size: 3rem;
  letter-spacing: -1.5%;
  margin-bottom: 2rem;
}

.ph-info p,
.ph-icons {
  font-family: "Poppins", sans-serif;
  color: #6d7781;
  font-weight: 500;
  font-size: 1.4rem;
  letter-spacing: -1%;
  margin-bottom: 1rem;
}

.ph-icons span {
  display: flex;
  gap: 0.4rem;
  align-items: center;
}

.ph-icons-bg {
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5rem;
  background-color: rgba(255, 90, 60, 0.2);
}

.ph-icons-bg i {
  font-size: 1.4rem;
  color: var(--color-primary);
}

.ph-icons {
  display: flex;
  gap: 1.5rem;
}

.ph-label {
  position: absolute;
  bottom: -5rem;
  left: 6rem;
  background: var(--color-primary);
  color: #fff;
  border-radius: 50%;
  width: 12rem;
  height: 12rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: auto;
  font-family: "Poppins", sans-serif;
  tex-transform: uppercase;
}

.ph-label .ph-text {
  font-weight: 500;
  font-size: 1.8rem;
}

.ph-label .ph-number {
  font-weight: 600;
  font-size: 3.2rem;
}

/* slider */
.testimonial {
  margin: 12rem 10%;
  text-align: center;
  font-family: "Nunito", sans-serif;
}

.testimonial-header h2 {
  font-size: 4.5rem;
  font-weight: 700;
  line-height: 5.4rem;
  color: #071c1f;
  font-family: inherit;
}

.testimonial-header p {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 3rem;
  color: #757474;
  font-family: "Poppins", sans-serif;
}

.testimonial-content {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 6rem;
  gap: 4.8rem;
}

.arrow {
  border: 1px solid rgba(255, 90, 60, 1);
  background: #fff;
  color: #fff;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  cursor: pointer;
  /* transition: 0.3s; */
}

.arrow i {
  font-size: 2.4rem;
  color: rgba(255, 90, 60, 0.5);
}

.arrow:hover {
  background: #e8432b;
  box-shadow: 0 30px 35px -8px rgba(250, 179, 63, 0.15);
}

.arrow:hover i {
  color: #fff;
}

.testimonial-card {
  display: flex;
  align-items: center;
  gap: 8rem;
}

.testimonial-image {
  position: relative;
  width: 37.3rem;
  height: 43.6rem;
}
.image-bg {
  position: absolute;
  top: 2.5rem;
  left: -2.5rem;
  width: 100%;
  height: 100%;
  background: var(--color-primary);
  border-radius: 8px;
}
.image-front {
  position: relative;
  width: 100%;
  height: 100%;
  background: var(--gray-1);
  border-radius: 12px;
}

.testimonial-text {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  max-width: 45rem;
  text-align: left;
}
.testimonial-text .quote {
  font-size: 4rem;
  color: rgba(255, 77, 48, 0.5);
}
.testimonial-text p {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 2rem;
  color: rgba(7, 28, 31, 0.7);
  line-height: 4.5rem;
  letter-spacing: -1%;
}
.stars {
  display: inline-flex;
  gap: 0.6rem;
}

.stars img {
  width: 2.4rem;
  height: 2.3rem;
}

.testimonial-text h4 {
  font-family: "Poppins", sans-serif;

  font-weight: 500;
  font-size: 2.4rem;
  line-height: 100%;
  letter-spacing: -2%;
  margin: 5px 0 2px;
  color: #071c1f;
}
.testimonial-text small {
  font-family: "Poppins", sans-serif;
  color: #6d7781;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 100%;
  letter-spacing: -2%;
}

/* projects */

.projects {
  text-align: center;
  padding: 8rem 12%;
}

.projects h2 {
  font-family: "Nunito", sans-serif;

  font-size: 4.6rem;
  font-weight: 700;
  color: #071c1f;
  margin-bottom: 5rem;
  line-height: 5.6rem;
  letter-spacing: 1.5%;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3.4rem;
  margin-bottom: 6rem;
}

.card {
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
  padding: 3.3rem 5.6rem;
  border-radius: 1rem;
  text-align: center;
}

.card p {
  font-family: "Nunito", sans-serif;

  font-size: 2rem;
  font-weight: 700;
  color: #fff;
  line-height: 100%;
  letter-spacing: 1.5%;
  margin-bottom: 2.8rem;
}

.pr-btn {
  gap: 0.8rem;
  padding: 1.5rem 3rem;
  font-family: "Nunito", sans-serif;
  background: #fff;
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--color-primary);
  line-height: 100%;
  letter-spacing: -1%;
  box-shadow: 0 15px 30px -10px rgba(238, 42, 82, 0.25);
}

.card:hover {
  transform: translateY(-10px);
}

.subscribe {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 61rem;
  margin: 0 auto;
  background: #f5f5f5;
  padding: 1.2rem;
  border-radius: 1.5rem;
}

.subscribe .icon {
  margin: 0 3rem;
  font-size: 2.4rem;
  color: #8c8c8c;
}

.subscribe input {
  flex: 1;
  border: none;
  outline: none;
  /* padding: 2.7rem; */
  border-radius: 1.5rem;
  background: transparent;

  font-family: "Poppins", sans-serif;

  font-size: 1.8rem;
  font-weight: 500;

  color: rgba(140, 140, 140, 0.5);
  line-height: 100%;
  letter-spacing: -1%;
}

.btn-subscribe {
  background: var(--color-primary);
  color: #fff;
  border: none;
  padding: 1.3rem 1.6rem;
  margin-left: 6px;
}

.btn-subscribe:hover {
  background: #e63e3e;
}

.blog {
  margin: 0 10% 12rem;
  text-align: center;
}

.blog h2 {
  font-family: "Nunito", sans-serif;

  font-size: 5rem;
  font-weight: 700;
  color: #242424;
  line-height: 100%;
  letter-spacing: 0;
  margin-bottom: 1.8rem;
}

.blog .subtitle {
  font-family: "Nunito", sans-serif;

  font-size: 1.8rem;
  font-weight: 400;
  color: #8c8c8c;
  line-height: 2.8rem;
  letter-spacing: 0;
  margin-bottom: 6rem;
}

.blog-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3.3rem;
  margin-bottom: 6.5rem;
}

.blog-card {
  background: #fff;
  box-shadow: 0 16px 26px rgba(0, 0, 0, 0.07);
  overflow: hidden;
  text-align: left;
}

.blog-img {
  width: 100%;
  aspect-ratio: 1.5;
  background: #c4c4c4;
  cursor: pointer;
}

.blog-content {
  padding: 2rem;
}

.blog-content .category {
  display: inline-flex;
  gap: 1rem;
  align-items: center;

  font-family: "Nunito", sans-serif;

  font-size: 1.6rem;
  font-weight: 400;
  color: var(--color-primary);
  line-height: 100%;
  letter-spacing: 0;
  margin-bottom: 2.2rem;
}

.blog-content .category i {
  color: #8c8c8c;
  font-size: 1.2rem;
}

.blog-content h3 {
  font-family: "Nunito", sans-serif;

  font-size: 1.8rem;
  font-weight: 600;
  color: #242424;
  line-height: 100%;
  letter-spacing: 0;
  margin-bottom: 1.5rem;

  cursor: pointer;
}

.blog-content p {
  font-family: "Inter", sans-serif;

  font-size: 1.6rem;
  font-weight: 400;
  color: #8c8c8c;
  line-height: 2.6rem;
  letter-spacing: 0;
  margin-bottom: 2.6rem;
}

.limit-text {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  text-overflow: ellipsis;
}

.blog-meta .post-time {
  display: inline-flex;
  align-items: center;
  gap: 0.6rem;

  font-family: "Nunito", sans-serif;

  font-size: 1.6rem;
  font-weight: 400;
  color: #5d5d5d;
  line-height: 100%;
  letter-spacing: 0;

  margin: 0 2.8rem 1.2rem 0;
}

.blog-meta i {
  font-size: 1.4rem;
  color: #8c8c8c;
}

.blog-meta .author {
  color: var(--color-primary);
  font-family: "Nunito", sans-serif;

  font-size: 1.6rem;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0;
}

.btn-read:hover {
  background: #ff4d4d;
  color: #fff;
}

/* contact */

.contact-section {
  margin: 0 10% 13.2rem;
  text-align: center;
}

.small-title {
  font-family: "Nunito", sans-serif;

  font-size: 2.4rem;
  font-weight: 600;
  color: var(--color-primary);
  line-height: 1.8rem;
  letter-spacing: 0.17rem;

  margin-bottom: 1.442rem;
}

.contact-section h2 {
  font-family: "Nunito", sans-serif;

  font-size: 4.8rem;
  font-weight: 700;
  color: #1f242e;
  line-height: 6rem;
  letter-spacing: -0.06px;

  margin-bottom: 6rem;
}

.contact-info {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 10rem;
  flex-wrap: wrap;
  height: 100%;
}

.contact-left {
  flex: 1;
  text-align: left;
  width: 50%;
}

.contact-left .desc {
  font-family: "Nunito", sans-serif;

  font-size: 1.8rem;
  font-weight: 400;
  color: #8c8c8c;
  line-height: 2.8rem;
  letter-spacing: 0;

  margin-bottom: 3.489rem;
}

.contact-list {
  list-style: none;
  padding: 0;
  margin: 0 0 1.1rem;
}

.contact-list li {
  font-family: "Nunito", sans-serif;

  font-size: 1.6rem;
  font-weight: 600;
  color: #242424;
  line-height: 2.6rem;
  letter-spacing: 0;
}

.contact-list li::before {
  content: "✔ ";
  margin-right: 1rem;
  color: var(--color-primary);
}

.shapes {
  margin-top: 2rem;
  position: relative;
  height: 30rem;
}

.shape {
  position: absolute;
  border-radius: 8px;
}

.shape.big.front {
  width: 50%;
  height: 20rem;
  background: #ccc;
  top: 0;
  left: 0;
  border-radius: 0.8rem;
}

.shape.big.back {
  width: 40rem;
  height: 20rem;
  background: #ccc;
  bottom: 0;
  right: 0;
  border-radius: 0.8rem;
}

.shape.small.red {
  width: 7rem;
  height: 7rem;
  background: var(--color-primary);
  top: -12%;
  right: 30%;
}

.shape.small.black {
  width: 3.3rem;
  height: 3.3rem;
  background: #000;
  top: -14%;
  right: 28%;
}

.contact-right {
  flex: 1;
  min-width: 50%;
  background: #f2f6f7;
  padding: 4rem;
  border-radius: 8px;
}

.contact-right h3 {
  margin-bottom: 0.4rem;
  font-family: "Nunito", sans-serif;
  font-size: 4.8rem;
  font-weight: 700;
  color: #242424;
  line-height: 6.398rem;
  letter-spacing: 0;
  text-align: left;
}

.contact-right form {
  display: flex;
  flex-direction: column;
  gap: 2.3rem;
}

.field {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.8rem;

  font-family: "Nunito", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0;
}

.field label {
  color: #666666;
}

.field input,
textarea {
  border: none;
  border-radius: 0.8rem;
  background-color: #fff;
  padding: 1.6rem;
  width: 100%;

  color: #999999;

  font-family: "Nunito", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0;
}

.contact-right button {
  padding: 1.6rem 4.8rem;
  font-family: "Nunito", sans-serif;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: 0;
}

/* footer */

.footer {
  background-color: #171b2a;
  padding: 6.5rem 12% 5rem;
  border-bottom: 2rem solid;
  border-color: var(--color-primary);
}

.footer-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 6rem;
}

.ft-logo {
  display: flex;
  align-items: end;
  gap: 0.8rem;
  margin-bottom: 2rem;
}

.ft-logo i {
  font-size: 3rem;
  color: var(--color-primary);
}

.logo-text {
  display: inline-flex;
  font-family: "Poppins", sans-serif;

  font-size: 2.4rem;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: 0;
  color: #ffffff;
}

.logo-text-dot {
  color: var(--color-primary);
}

.brand-description {
  font-family: "Nunito", sans-serif;

  font-size: 1.8rem;
  font-weight: 600;
  line-height: 3.4rem;
  letter-spacing: -1%;
  color: #c4c4c4;

  margin-bottom: 2.4rem;
}

.social-links {
  display: flex;
  gap: 1.4rem;
}

.social-link {
  width: 3.6rem;
  height: 3.6rem;
  border: 1px solid var(--color-primary);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: all 0.3s ease;
}

.social-link i {
  color: var(--color-primary);
  font-size: 1.2rem;
}

.social-link:hover {
  background-color: #e74c3c;
}

.social-link:hover i {
  color: white;
}

.footer-column {
  grid-column: span 1;
}

.footer-column h3,
.newsletter h3 {
  font-family: "Nunito", sans-serif;

  font-size: 1.6rem;
  font-weight: 700;
  line-height: 2.8rem;
  letter-spacing: 0;
  color: #fff;

  margin-bottom: 2rem;
}

.footer-column ul {
  list-style: none;
}

.footer-column ul li {
  margin-bottom: 1.5rem;
}

.footer-column ul li a,
.newsletter p {
  font-family: "Nunito", sans-serif;

  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.2rem;
  letter-spacing: 0;
  color: rgba(255, 255, 255, 0.75);
  transition: color 0.3s ease;
}

.footer-column ul li a:hover {
  color: #ffffff;
}

.newsletter {
  grid-column: span 1;
}

.newsletter p {
  margin-bottom: 4rem;
}

.newsletter-form {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.newsletter-input {
  flex: 1;
  padding: 1.2rem 0;
  border: none;
  background-color: transparent;
  border-bottom: 2px solid #34495e;
  outline: none;

  font-family: "Nunito", sans-serif;

  font-size: 1.4rem;
  font-weight: 600;
  line-height: 2.2rem;
  letter-spacing: 0;
  color: #ffffff;
}

.newsletter-input::placeholder {
  color: #a6b2d3;
}

.newsletter-input:focus {
  border-bottom-color: #e74c3c;
}

.newsletter-submit {
  background-color: transparent;
  border: none;
  color: #e74c3c;
  cursor: pointer;
  font-size: 2rem;
}

.newsletter-submit:hover {
  color: #c0392b;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.contact-info {
  display: flex;
  gap: 40px;
}

.contact-item {
  font-family: "Nunito", sans-serif;

  font-size: 1.8rem;
  font-weight: 400;
  line-height: 2.4rem;
  letter-spacing: 0;
  color: #a6b2d3;
  border-bottom: 1px solid #4d69af;
  padding-bottom: 1rem;
}

.copyright {
  font-family: "Nunito", sans-serif;

  font-size: 1.2rem;
  font-weight: 400;
  line-height: 2rem;
  letter-spacing: 0;
  color: rgba(166, 178, 211, 0.6);
}

.menu-cont {
  display: none;
}

.hamburger-menu {
  margin-top: 2.5rem;
  display: flex;
  margin-left: 7%;
  font-size: 4rem;
  cursor: pointer;
  display: none;
}

@media (min-width: 1025px) and (max-width: 1280px) {
  /* header */
  .right-header nav ul {
    gap: 2rem;
  }

  .right-header nav a {
    font-size: 1.6rem;
  }

  .right-header {
    gap: 2rem;
  }

  .btn {
    padding: 1.3rem 1.6rem;
  }

  /* banner */

  .text-banner {
    width: 90%;
    gap: 2rem;
  }

  .text-banner h1 {
    font-size: 5.2rem;
    line-height: 6rem;
  }

  .find-vector {
    top: 48%;
    right: -10%;
  }

  .text-banner p {
    font-size: 1.4rem;
    line-height: 2rem;
    margin-right: 1rem;
  }

  .text-banner a {
    font-size: 1.4rem;
  }

  .revenue-box {
    width: 22rem;
    height: 16rem;
    padding: 2rem;
  }

  .revenue-box img {
    width: 48px;
    height: 48px;
  }

  .revenue-box .price {
    font-size: 2.4rem;
  }

  .revenue-box .revenue-text {
    font-size: 1.4rem;
  }

  .property-section {
    margin-top: 20rem;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .hamburger-menu {
    display: flex;
  }

  .top-bar .container {
    display: none;
  }

  .header-container {
    display: none;
  }

  /* banner */
  .banner-container {
    height: 100%;
  }

  .main-banner {
    height: 75vh;
    display: flex;
    flex-direction: column;
  }

  .banner-content {
    width: 100%;
    height: 70%;
  }

  .find-vector {
    display: none;
  }

  .text-banner {
    width: 100%;
    gap: 2rem;
  }

  .text-banner h1 {
    font-size: 5.8rem;
    line-height: 5rem;
  }

  .text-banner p {
    font-size: 1.6rem;
    line-height: 2.6rem;
  }

  .text-banner a {
    font-size: 1.4rem;
  }

  .video-banner {
    width: 100%;
    height: 100%;
    margin-top: 1rem;
  }

  .play-button {
    font-size: 1.2rem;
    gap: 3.1rem;
  }

  .play-button i {
    font-size: 2.8rem;
  }

  .revenue-box {
    width: 22rem;
    height: 17rem;

    padding: 2.8rem;
    gap: 0.8rem;
  }

  .revenue-box .price {
    font-size: 2.4rem;
  }

  .revenue-box .revenue-text {
    font-size: 1.4rem;
  }

  .commercial-cont h2 {
    font-size: 4.4rem;
    line-height: 5.4rem;
  }

  .commercial-cont p {
    font-size: 1.6rem;
  }

  .commercial-item-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .commercial-item {
    padding: 3rem;
    gap: 2rem;
  }

  .commercial-item h3 {
    font-size: 2.4rem;
    line-height: 2.6rem;
  }

  .commercial-item p {
    font-size: 1.6rem;
    line-height: 3rem;
  }

  .commercial-icon {
    width: 8.8rem;
    height: 8.8rem;
  }

  .commercial-icon i {
    font-size: 3.8rem;
  }

  /* dream space */

  .dream-space {
    text-align: center;
    flex-direction: column;
    gap: 8rem;
    height: 90vh;
    margin-bottom: 0;
  }

  .dream-space-content {
    width: 100%;
    height: 100%;
  }

  .house-img {
    width: 100%;
    height: 100%;
    position: relative;
  }

  .layer-img {
    width: 50%;
    height: 80%;
    background: var(--gray-1);
    position: absolute;
  }

  .layer-1 {
    bottom: 0;
    left: 10%;
    z-index: 1;
  }

  .layer-2 {
    top: 5%;
    right: 10%;
  }

  .rating-box {
    top: 0;
    right: 0;
  }

  .dream-space-item-list {
    gap: 3rem;
    align-items: center;
  }

  .dream-space-item i {
    font-size: 4.8rem;
  }

  .dream-space-text p {
    font-size: 1.2rem;
    text-align: left;
  }

  /* sale property */
  .property-section {
    display: flex;
    flex-direction: column;
  }

  .property-right {
    height: 35vh;
  }

  .property-right .img {
    background: #c4c4c4;
    width: 100%;
    height: 100%;
  }

  .property-right .big {
    grid-row: span 2;
  }

  .slider-dot .property-active {
    background-color: var(--color-primary);
  }

  /* services */

  .services-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 2.6rem;
  }

  .service-card {
    padding: 3.8rem 3.5rem;
    gap: 2.9rem;
  }

  .service-card .icon {
    font-size: 3.8rem;
  }

  .service-card-text h3 {
    font-size: 2.4rem;
  }

  /* fearured properties */

  .fp-header {
    flex-direction: column;
    align-items: start;
    gap: 2.5rem;
  }

  .fp-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 3.1rem;
  }

  .fp-info h3 {
    font-size: 1.6rem;
  }

  /* slider */

  .testimonial {
    margin-bottom: 0;
  }

  .testimonial-card {
    flex-direction: column;
    gap: 6rem;
  }

  .testimonial-image {
    position: relative;
    width: 15rem;
    height: 20rem;
  }

  .testimonial-text {
    gap: 1.4rem;
    max-width: 100%;
  }

  .testimonial-text .quote {
    font-size: 3.8rem;
  }

  .testimonial-text p {
    font-size: 1.8rem;
    line-height: 4.3rem;
    text-align: justify;
  }

  .testimonial-text h4 {
    font-size: 2.2rem;
  }
  .testimonial-text small {
    font-size: 1.4rem;
  }

  /* projects */

  .cards {
    grid-template-columns: repeat(2, 1fr);
    gap: 3.2rem;
    margin-bottom: 4rem;
  }

  .card {
    padding: 3.1rem 5.4rem;
  }

  .card p {
    font-size: 1.8rem;
  }

  /* blog */

  .blog .subtitle {
    font-size: 1.6rem;
  }

  .blog-list {
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
  }

  .blog-content {
    padding: 1.8rem;
  }

  /* contact */

  .contact-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10rem;
  }

  .contact-left .desc {
    font-size: 1.6rem;
    line-height: 2.6rem;
    margin-bottom: 3rem;
  }

  .contact-list li {
    font-size: 1.4rem;
  }

  .shapes {
    margin-top: 2rem;
    position: relative;
    height: 30rem;
  }

  .shape.big.front {
    width: 60%;
    height: 60%;
  }

  .shape.big.back {
    width: 60%;
    height: 60%;
  }

  .shape.small.red {
    top: 0;
    right: 0;
  }

  .shape.small.black {
    background: #000;
    top: -3%;
    right: -3%;
  }

  .contact-right h3 {
    font-size: 4rem;
    line-height: 6rem;
  }

  .contact-right form {
    gap: 2rem;
  }

  /* footer */

  .footer-content {
    grid-template-columns: 1fr 1fr;
    gap: 10rem;
  }

  .footer-brand {
    grid-column: span 2;
    text-align: center;
  }

  .newsletter {
    grid-column: span 2;
  }

  .footer-bottom {
    flex-direction: column;
    text-align: center;
  }
}

@media (max-width: 767px) {
  .hamburger-menu {
    margin-top: 2rem;
    display: flex;
    margin-left: 7%;
    font-size: 3rem;
  }

  .top-bar .container {
    display: none;
  }

  .header-container {
    display: none;
  }

  /* banner */
  .banner-container {
    height: 100%;
  }

  .main-banner {
    height: 75vh;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .banner-content {
    width: 100%;
    height: 70%;
  }

  .find-vector {
    display: none;
  }

  .text-banner {
    width: 100%;
    gap: 2rem;
  }

  .text-banner h1 {
    font-size: 4.2rem;
    line-height: 5rem;
  }

  .text-banner p {
    font-size: 1.6rem;
    line-height: 2.4rem;
  }

  .text-banner a {
    font-size: 1.4rem;
  }

  .video-banner {
    width: 100%;
    height: 100%;
  }

  .play-button {
    font-size: 1rem;
    gap: 2.5rem;
  }

  .play-button i {
    font-size: 2.4rem;
  }

  .revenue-box {
    width: 10rem;
    height: 7rem;

    padding: 1rem;
    gap: 0.4rem;
  }

  .revenue-box img {
    width: 24px;
    height: 24px;
  }

  .revenue-box .price {
    font-size: 1.4rem;
  }

  .revenue-box .revenue-text {
    font-size: 0.8rem;
  }

  .slider-cont {
    height: 12.48vh;
    width: 100%;

    flex-direction: column;
  }
  .slides {
    display: flex;
    align-items: end;
    gap: 0;
    scroll-snap-type: x mandatory;
  }

  .slide-img {
    width: 8.8rem;
    height: 6rem;
    background-color: var(--gray-1);

    padding-top: 0.4rem;
    padding-left: 0.8rem;

    color: white;
    font-weight: 500;
    font-size: 1rem;
    letter-spacing: -1%;
  }

  .slides .active-img {
    width: 11.4rem;
    height: 8rem;
  }

  .link-number {
    display: flex;
    align-items: end;
    gap: 1.3rem;
  }

  .link-number a {
    color: #627193;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 1rem;
    letter-spacing: -1%;
  }

  .link-number .active-link {
    font-size: 2rem;
  }

  .slider-dot {
    display: flex;
    align-items: end;
    gap: 0;
  }

  .dot {
    width: 2.3rem;
    height: 2px;
    background-color: #ebebeb;
  }

  .slider-dot .active-dot {
    background-color: var(--black-1);
    border-radius: 2px;
  }

  .commercial-cont {
    margin-top: 6rem;
    margin-bottom: 0;
  }

  .commercial-cont h2 {
    font-size: 2.5rem;
    line-height: 4rem;
  }

  .commercial-cont p {
    font-size: 1.2rem;
  }

  .commercial-item-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .commercial-item {
    padding: 2rem;
    gap: 1.5rem;
  }

  .commercial-item h3 {
    font-size: 2.2rem;
    line-height: 2.4rem;
  }

  .commercial-item p {
    font-size: 1.4rem;
    line-height: 2.5rem;
  }

  .commercial-icon {
    width: 8.6rem;
    height: 8.6rem;
  }

  .commercial-icon i {
    font-size: 3.6rem;
  }

  /* dream space */

  .dream-space {
    margin-bottom: 2rem;
    text-align: center;
    flex-direction: column;
    gap: 8rem;
    height: 100vh;
  }

  .dream-space-content {
    width: 100%;
    height: 100%;
  }

  .dream-space-content h2 {
    font-size: 2.2rem;
    line-height: 2.4rem;
  }

  .dream-space-content p {
    font-size: 1.4rem;
    line-height: 2.5rem;
  }

  .house-img {
    width: 100%;
    height: 100%;
    position: relative;
  }

  .layer-img {
    width: 50%;
    height: 80%;
    background: var(--gray-1);
    position: absolute;
  }

  .layer-1 {
    bottom: 0;
    left: 10%;
    z-index: 1;
  }

  .layer-2 {
    top: 5%;
    right: 10%;
  }

  .rating-box {
    top: 0;
    right: 0;
    width: 7rem;
    height: 7rem;
  }

  .rating-box i {
    font-size: 2rem;
  }

  .rating-box p {
    font-size: 1rem;
  }

  .dream-space-item-list {
    gap: 2rem;
    align-items: center;
  }

  .dream-space-item i {
    font-size: 4rem;
  }

  .dream-space-text h3 {
    font-size: 1.6rem;
  }

  .dream-space-text p {
    font-size: 1.2rem;
    text-align: left;
  }

  /* sale property */
  .property-section {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
  }

  .property-left {
    max-width: 100%;
  }

  .property-left h2 {
    font-size: 2.2rem;
    line-height: 2.4rem;
  }

  .property-left .desc {
    font-size: 1.2rem;
  }

  .property-left .slider-cont {
    height: 100%;
  }

  .property-right {
    height: 35vh;
  }

  .property-right .img {
    background: #c4c4c4;
    width: 100%;
    height: 100%;
  }

  .property-right .big {
    grid-row: span 2;
  }

  .slider-dot .property-active {
    background-color: var(--color-primary);
  }

  /* services */

  .services-header h2 {
    font-size: 2.2rem;
    line-height: 2.4rem;
  }

  .services-header p {
    font-size: 1.4rem;
  }

  .services-grid {
    grid-template-columns: repeat(1, 1fr);
    gap: 2.6rem;
  }

  .service-card {
    padding: 3.8rem 3.5rem;
    gap: 2.9rem;
  }

  .service-card .icon {
    font-size: 3.8rem;
  }

  .service-card-text h3 {
    font-size: 2rem;
  }

  .service-card-text p {
    font-size: 1.4rem;
  }

  /* fearured properties */

  .fp-header {
    flex-direction: column;
    align-items: start;
    gap: 2.5rem;
  }

  .fp-text h2 {
    font-size: 2.4rem;
    line-height: 2.4rem;
  }

  .fp-tabs {
    gap: 1rem;
  }
  .fp-tabs a {
    font-size: 1.2rem;
  }

  .fp-grid {
    grid-template-columns: repeat(1, 1fr);
    gap: 3.1rem;
  }

  .fp-card {
    height: 32rem;
  }

  .fp-info h3 {
    font-size: 1.6rem;
  }

  /* properties hightlight */

  .property-highlight {
    margin: 4rem 0;
  }

  .ph-card {
    padding: 1rem;
    width: 80%;
    gap: 2rem;
  }

  .ph-img-bg img {
    width: 11rem;
    height: 11rem;
  }

  .ph-info h3 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
  }

  .ph-info p,
  .ph-icons {
    font-size: 1rem;
  }

  .ph-icons span {
    gap: 0.2rem;
  }

  .ph-icons-bg {
    width: 2rem;
    height: 2rem;
  }

  .ph-icons-bg i {
    font-size: 1.2rem;
  }

  .ph-icons {
    gap: 1rem;
  }

  .ph-label {
    bottom: -4rem;
    left: 6rem;
    width: 8rem;
    height: 8rem;
    gap: 1.5rem;
  }

  .ph-label .ph-text {
    font-size: 1.2rem;
  }

  .ph-label .ph-number {
    font-size: 2rem;
  }

  /* slider */

  .testimonial {
    margin-bottom: 0;
  }
  .testimonial-header h2 {
    font-size: 2.2rem;
    line-height: 2.4rem;
  }

  .testimonial-header p {
    font-size: 1.2rem;
  }

  .testimonial-card {
    flex-direction: column;
    gap: 4rem;
  }

  .testimonial-image {
    position: relative;
    width: 10rem;
    height: 15rem;
  }

  .testimonial-text {
    gap: 1.2rem;
    max-width: 100%;
  }

  .testimonial-text .quote {
    font-size: 3.6rem;
  }

  .testimonial-text p {
    font-size: 1.4rem;
    line-height: 2.4rem;
    text-align: justify;
  }

  .testimonial-text h4 {
    font-size: 2rem;
  }
  .testimonial-text small {
    font-size: 1.2rem;
  }

  .arrow {
    width: 4rem;
    height: 4rem;
  }

  .arrow i {
    font-size: 1.8rem;
    color: rgba(255, 90, 60, 0.5);
  }

  /* projects */

  .projects {
    margin-top: 0;
  }

  .cards {
    grid-template-columns: repeat(1, 1fr);
    gap: 3.2rem;
    margin-bottom: 4rem;
  }

  .projects h2 {
    font-size: 2.2rem;
    line-height: 2.4rem;
  }

  .card {
    padding: 3.1rem 5.4rem;
  }

  .card p {
    font-size: 1.8rem;
  }

  .subscribe {
    max-width: 100%;
    margin: 0 auto;
    padding: 1.2rem;
  }

  .subscribe .icon {
    margin: 0 2rem;
    font-size: 1.8rem;
  }

  .subscribe input {
    font-size: 1.2rem;
  }

  .btn-subscribe {
    background: var(--color-primary);
    color: #fff;
    border: none;
    padding: 1rem 1.2rem;
    margin-left: 6px;
    font-size: 1rem;
  }

  .btn-subscribe:hover {
    background: #e63e3e;
  }

  /* blog */

  .blog h2 {
    font-size: 2.2rem;
    line-height: 2.4rem;
  }

  .blog p {
    font-size: 1.4rem;
  }

  .blog .subtitle {
    font-size: 1.4rem;
  }

  .blog-list {
    grid-template-columns: repeat(1, 1fr);
    gap: 3rem;
  }

  .blog-content {
    padding: 1.8rem;
  }

  /* contact */

  .contact-section h2 {
    font-size: 2.4rem;
    line-height: 4rem;
  }

  .contact-info {
    display: flex;
    flex-direction: column;
    gap: 10rem;
  }

  .contact-left {
    width: 100%;
  }

  .contact-left .desc {
    font-size: 1.6rem;
    line-height: 2.6rem;
    margin-bottom: 3rem;
  }

  .contact-list li {
    font-size: 1.4rem;
  }

  .shapes {
    margin-top: 2rem;
    position: relative;
    height: 30rem;
  }

  .shape.big.front {
    width: 60%;
    height: 60%;
  }

  .shape.big.back {
    width: 60%;
    height: 60%;
  }

  .shape.small.red {
    top: 0;
    right: 0;
  }

  .shape.small.black {
    background: #000;
    top: -3%;
    right: -3%;
  }

  .contact-right {
    width: 100%;
    padding: 1rem 1.5rem;
  }

  .contact-right h3 {
    font-size: 3.8rem;
    line-height: 6rem;
  }

  .contact-right form {
    gap: 2rem;
  }

  .mb-btn {
    width: 100%;
    justify-content: center;
  }

  .contact-section {
    margin-bottom: 2rem;
  }

  /* footer */

  .footer-content {
    grid-template-columns: 1fr 1fr;
    gap: 8rem;
  }

  .footer-brand {
    grid-column: span 2;
    text-align: center;
  }

  .newsletter {
    grid-column: span 2;
  }

  .footer-bottom {
    flex-direction: column;
    text-align: center;
  }
}
